.header {
    background: #5a5a5a;
    height: 50px;
    padding: 5px 0;
    color: white;
    font-size: 15pt;
}

.logo {
    max-height: 40px;
    max-width: 40px;
}

.user-link {
    color: white;
}

.user-link:hover {
    cursor: pointer;
    color: white;
}
