.header {
    background: #5a5a5a;
    height: 50px;
    padding: 5px 0;
    color: white;
    font-size: 15pt;
}

.logo {
    max-height: 40px;
    max-width: 40px;
}

.icon {
    max-height: 16px;
    max-width: 16px;
}

.user-link, .language-link{
    color: white;
}

.user-link:hover, .language-link:hover {
    cursor: pointer;
    color: white;
}

.language-picker {
    font-size: 10pt;
    margin-top: 8px;
    margin-right:10px;
}
