.day-column {
    width: 14%;
    display: inline-block;
    vertical-align: top;
}

.day-title {
    text-align: center;
}

.day-body {
    margin: 2px;
    border: #C1FA88 1px solid;
    border-radius: 15px;
    height: 800px;
    position: relative;
}

.week {
    width: 100%;
    padding: 0 auto;
}

.timetable-header {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #C1FA88
}

.timetable-header_title {
    font-size: 15pt;
    color: gray;
    text-decoration: underline;
}

.timetable-header_current-week {
    text-align: center;
}

.event {
    width: 100%;
    position: absolute;
    border: 3px solid #C1FA88;
    border-radius: 20px;
    padding: 1px;
    box-sizing: border-box;
    overflow-y: hidden;
}