<logo-header></logo-header>

<div class="col-md-3 col-md-offset-4 authentication-form box-shadow">
    <h2>Registration</h2>
    <hr>
    <div ng-if="vm.alerts.registrationSucceed" class="alert alert-success">
        <strong>Success!</strong> Registration completed.
    </div>
    <div ng-if="vm.alerts.userIsAlreadyExists" class="alert alert-danger">
        <strong>Sorry!</strong>  Username is already taken by another user.
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" ng-model="vm.username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" ng-model="vm.password">
        </div>
        <div class="form-group">
            <label for="repeatPassword">Repeat Password:</label>
            <input type="password" class="form-control" id="repeatPassword" ng-model="vm.repeatPassword">
        </div>
        <button ng-click="vm.submitRegistration()" class="btn btn-primary">Submit</button>
    </form>
</div>
