<logo-header></logo-header>

<div class="col-md-3 col-md-offset-4 authentication-form box-shadow">
    <h2>{{'REGISTRATION_FORM.TITLE' | translate}}</h2>
    <hr>
    <div ng-if="vm.alerts.registrationSucceed" class="alert alert-success">
        {{'REGISTRATION_FORM.SUCCESS' | translate}}
    </div>
    <div ng-if="vm.alerts.userIsAlreadyExists" class="alert alert-danger">
        {{'REGISTRATION_FORM.USER_EXISTS' | translate}}
    </div>
    <div ng-if="vm.alerts.differentPasswords" class="alert alert-danger">
        {{'REGISTRATION_FORM.DIFFERENT_PASSWORDS' | translate}}
    </div>

    <form ng-submit="vm.submitRegistration()">
        <div class="form-group" >
            <label for="username">{{'LOGIN_FORM.USERNAME' | translate}}</label>
            <input class="form-control" id="username" ng-model="vm.username" required>
        </div>
        <div class="form-group">
            <label for="password">{{'LOGIN_FORM.PASSWORD' | translate}}</label>
            <input type="password" class="form-control" id="password" ng-model="vm.password" required>
        </div>
        <div class="form-group">
            <label for="repeatPassword">{{'REGISTRATION_FORM.REPEAT_PASSWORD' | translate}}</label>
            <input type="password" class="form-control" id="repeatPassword" ng-model="vm.repeatPassword" required>
        </div>
        <input type="submit" class="btn btn-primary" value="{{'REGISTRATION_FORM.SUBMIT' | translate}}">
    </form>
</div>
