<logo-header current-user="vm.currentUser"></logo-header>
<div class="col-md-10 col-md-offset-1 main-content">
    <div class="timetable-header">
        <div class="row">
            <div class="timetable-header_title col-md-offset-1 col-md-4">
                {{vm.timetable.title}}
            </div>
            <div class="timetable-header_current-week col-md-4">
                {{'MONTH.' + vm.currentMonth | translate}}: {{'VIEW_TIMETABLE.WEEK' | translate}} {{vm.fromDate | date:'dd'}} - {{vm.toDate | date:'dd'}}
            </div>
        </div>
    </div>
    <div class="week">
        <div ng-repeat="day in vm.days" class="day-column">
            <div class="day-title">
                {{day}}
            </div>
            <div class="day-body">

            </div>
        </div>
    </div>
</div>
