<logo-header current-user="vm.currentUser"></logo-header>
<div class="col-md-10 col-md-offset-1 main-content">
    <div class="timetable-header">
        <div class="row">
            <div class="timetable-header_title col-md-offset-1 col-md-3">
                {{vm.timetable.title}}
                <create-event-modal ng-if="vm.isCurrentUserOwner()" timetable="vm.timetable"></create-event-modal>
            </div>
            <div class="timetable-header_current-week col-md-4">
                <button ng-click="vm.moveBack()" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                </button>
                {{'MONTH.' + (vm.currentMonth + 1) | translate}}: {{'VIEW_TIMETABLE.WEEK' | translate}} {{vm.fromDate |
                date:'dd'}} - {{vm.toDate | date:'dd'}}
                <button ng-click="vm.moveForward()" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="week">
        <div ng-repeat="dayTimetable in vm.dayTimetableList" class="day-column">
            <div class="day-title">
                {{'DAY.' + dayTimetable.dayIndex | translate}}
            </div>
            <div class="day-body">
                <div ng-repeat="event in dayTimetable.events" class="event" timetable-event="{{event}}">
                    {{event.title}} <br/>
                    {{event.startDate | date:'HH:mm'}} - {{event.endDate | date:'HH:mm'}}
                </div>
            </div>
        </div>
    </div>
</div>